<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- General -->
    <title>{% block page_title %}Bluto{% endblock %}</title>
    <meta author="Rachel Willow & Matt Lewis" />
    <meta name="description" content="Markov Chain Generator for Bluesky posts." />
    <meta name='url' content="https://bluto.dev" />
    <meta name="robots" content="index, follow" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph -->
    <meta property="og:title" content="Bluto" />
    <meta property="og:description" content="Markov Bluesky Post Generator" />
    <meta property="og:url" content="https://bluto.dev" />
    <meta property="og:image" content="{{ url_for('static', filename='markov-portrait-2.jpeg' )}}" />

    <!-- Styyyle -->
    <meta name="theme-color" content="#2f2f2f">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="bookmark" title="Bluto" href="https://bluto.dev" />
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <h4 class="subhead">
      Markov Chain Bluesky Post Generator - <span id="date" />
    </h4>
    {% block content %}

    <!-- Content gets served here -->

    {% endblock %}

    {% include 'loading.html' %}

    <footer class="credits">
      <p>Made by <a href="http://mattmatters.io">Matt Lewis</a> &amp; <a href="https://github.com/rachelwillow">Rachel Willow</a></p>
      <div class="social">
        <a href="https://github.com/bluto-dev/bluto"><i class="fa fa-github" aria-hidden="true" /></a>
      </div>
    </footer>
  </body>
  {% include 'scripts.html' %}
</html>
